/* common styles */
.cmn-font {
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1A0B2E;

    color: white;
}

/* highlighted font */
.highlighted-font {
    background: linear-gradient(to bottom, #9100F8 40%, #FB09B4 50%, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header section */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid azure;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

nav>button {
    width: 150px;
    height: 45px;
    padding: 5px 20px;
    background: linear-gradient(to right, yellow, #FB09B4 40%, #9100F8);
    color: white;
    border-radius: 5px;

}

#banner {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 100px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.image-container {
    position: relative;
}

.circle-image {
    width: 240px;
    position: absolute;
    top: 40px;
    left: -60px;
}

.microphone {
    position: relative;
    top: 60px;
    z-index: 10;
}

.notification {
    position: absolute;
    top: 10px;
    right: -40px;
    background-color: lightgreen;
    color: black;
    padding: 10px 15px;
    border-radius: 15px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-1 {
    width: 200px;
    height: 45px;
    padding: 5px 20px;
    background: linear-gradient(to right, yellow, #FB09B4 40%, #9100F8);
    color: white;
    border-radius: 10px;
}

.btn-2 {
    width: 200px;
    height: 45px;
    border: 2px solid lightgreen;
    padding: 5px 20px;
    background-color: transparent;
    color: lightgreen;
    border-radius: 10px;
}

/* main style */
/* section -2 */
#section-2 {
    margin: 50px 180px;
}

#section-2>h1 {
    text-align: center;
}

.sec-1-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.sec-1-card-container> :nth-child(1) {
    grid-row: 1/3;
}

.sec-1-card-container>:nth-child(2),
.sec-1-card-container>:nth-child(3) {
    grid-column: 2/4;
}

.sec-1-card-container>:nth-child(4) {
    grid-column: 1/3;
}

.sec-1-card {
    border-radius: 10px;
    background-color: #250D44;
    padding: 20px;
}

/* section-3 */
#section-3>h1 {
    text-align: center;
}

.card-container {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
    justify-content: center;
}

iframe {
    width: 400px;
    height: 200px;
}

.card {
    border-radius: 10px;
    background-color: #250D44;
}

.card-writting {
    padding: 15px;
}

.card-writting :last-child {
    color: lightgreen;
}

/* section-4 */
#section-4 h1 {
    text-align: center;
}

#section-4>div {
    margin: 50px 100px;
    background-color: #250D44;
    padding: 30px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 200px 3fr;
    gap: 10px;
}

.host-social-link {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.host-social-link a img {
    border: 2px solid #533C72;
    border-radius: 45%;
    width: 20px;
    height: 20px;
    padding: 10px;
}

/* style of footer */
footer {
    height: 400px;
    text-align: center;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    padding: 30px;
}

footer>:nth-child(1) {
    font-size: 50px;
    font-weight: bolder;
}

footer div {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    justify-content: center;
}

footer div a {
    text-decoration: none;
    color: white;

}

@media screen and (max-width:576px) {

    nav>ul,
    nav>button {
        display: none;
    }

    #section-2 {
        margin: 20px;
    }

    .sec-1-card-container {
        display: block;
    }

    .circle-image {
        width: 150px;
        top: 30px;
        left: -25px;
    }

    .microphone {
        width: 70px;

        top: 50px;
        left: 10px;
        z-index: 10;
    }

    .notification {
        top: 10px;
        right: -70px;
    }

    .sec-1-card {
        margin-bottom: 20px;
    }

    .card-container {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(5, 1fr);
    }

    #section-4>div {
        margin: 50px;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .host-social-link {
        justify-content: center;
    }

    footer {
        padding: 50px 30px 10px 30px;
    }

    footer div {
        grid-template-columns: repeat(2, auto);
        gap: 5px;
    }

}